html, body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* Takes remaining space, pushes footer down */
}

.footer {
  background-color: #26272b;
  color: #737373;
  padding: 10px 20px;
}
